.parallax{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#parallax-img{
    background-image: url(img/capa.jpg);
}


footer{
    background-color: gray;
    padding: 30px;
    text-align: center;
}

footer p{
    color: white;
    font-size: 10px;
}